<link href="/template.css"
      rel="stylesheet" type="text/css">

<div class="col-md-6 center font">
	<div class="logo">
		<a href="/"><img class="logo-spacer" src="/images/logo.png"></a>
	</div>
	<div class="panel">
		<div class="panel-content">
			<h3 class="title">Menu</h3>

			<form action="http://localhost:8000/guardar" method="get">
				<input class="button" type="submit" value="Guardar"/>
			</form>

			<form action="http://localhost:8000/mostrar" method="get">
			  <button class="button">Mostrar</button>
			</form> 

			<form action="http://localhost:8000/editar" method="get">
			  <button class="button">Editar</button>
			</form>

			<form action="http://localhost:8000/borrar" method="get">
			  <button class="button">Borrar</button>
			</form> 
		</div>
	</div>
</div>